<!DOCTYPE html>
<html>

<head>
  <title>Flipper Xtreme | Custom Firmware for Flipper Zero</title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="darkreader" content="stfu">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" href="/flipper-zero_custom-firmware_xtreme.ico" sizes="any"><!-- 32×32 -->
  <link rel="apple-touch-icon" href="/flipper-zero_custom-firmware_xtreme.png"><!-- 180×180 -->
</head>

<body>
  <!-- DO NOT touch the following DIV | Else what, huh?-->
  <div id="q-app"></div>
</body>

</html>
