@media (min-width: 992px) and (max-width: 1199px) {
    .nav-menu .navbar-logo {
        font-size: 42px;
    }
    .nav-menu #nav .nav-link {
        padding: 35px 7.5px;
    }
    .install-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }
    .home-thumb {
        height: 40%;
        top: 30%;
        right: 50px;
        left: unset;
    }
    header.sticky .nav-menu #nav .nav-link {
        padding: 23px 7.5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 0;
    }
    .nav-menu .navbar-logo {
        font-size: 48px;
    }
    header.sticky {
        height: 50px;
    }
    header .nav-menu #nav .nav-link,
    header.sticky .nav-menu #nav .nav-link {
        padding: 7.5px 15px;
    }
    #navbar {
        padding: 30px;
        border-radius: 3px;
        background-color: #0b0b0b;
        text-align: left;
    }
    .install-button {
        margin-top: 30px;
        text-align: left;
    }
    .home-heading > h2 {
        font-size: 88px;
    }
    .home-thumb {
        height: 35%;
        top: 30%;
        right: 0;
        left: unset;
    }
    .home-heading {
        margin-bottom: 70px;
    }
    .single-special {
        padding: 30px 10px;
    }
    .special-description-area.mt-150 {
        margin-top: 50px;
    }
    .special-description-content > h2 {
        font-size: 30px;
    }
    .section-heading > h2 {
        font-size: 38px;
    }
    .address-text > p,
    .phone-text > p,
    .email-text > p {
        font-size: 16px;
    }
    .section-heading {
        margin-bottom: 50px;
    }
    .install-button > a {
        margin-top: 4px;
        display: inline-block;
        border: 2px solid #a883e9;
        height: 40px;
        min-width: 160px;
        line-height: 36px;
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    header {
        padding: 0;
    }
    .nav-menu .navbar-logo {
        font-size: 48px;
    }
    header.sticky {
        height: 50px;
    }
    header .nav-menu #nav .nav-link,
    header.sticky .nav-menu #nav .nav-link {
        padding: 5px 15px;
    }
    #navbar {
        padding: 20px;
        border-radius: 3px;
        background-color: #0b0b0b;
        text-align: left;
    }
    .install-button {
        margin-top: 30px;
        text-align: left;
    }
    header {
        top: 0;
    }
    .home-text .cd-intro > p {
        font-size: 14px;
    }
    .home-heading > h2 {
        font-size: 48px;
    }
    section#home > .container {
        padding-top: 50px;
    }
    .home-thumb {
        height: 35%;
        right: 0;
        top: 50%;
        left: unset;
    }
    .logo-area > a > h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    .section-heading > h2 {
        font-size: 32px;
    }
    .single-special {
        margin-bottom: 30px;
    }
    .special-description-area.mt-150 {
        margin-top: 50px;
    }
    .special-description-content > h2 {
        font-size: 30px;
    }
    .app-download-btn:first-child {
        margin-right: 0;
    }
    .app-download-area {
        display: block;
    }
    .app-download-btn {
        margin-bottom: 20px;
    }
    .discord-description > h2 {
        font-size: 32px;
    }
    .discord-button {
        text-align: left;
        margin-top: 20px;
    }
    .contact-from {
        margin-top: 30px;
    }
    .home-heading > h3 {
        font-size: 252px;
        top: -105px;
        left: -1px;
    }
    .home-heading,
    .single-cool-fact {
        margin-bottom: 50px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .home-heading > h3 {
        font-size: 284px;
    }
    .home-heading > h2 {
        font-size: 70px;
    }
    .home-thumb {
        /* width: 75%; */
        left: unset;
    }
    .home-heading {
        margin-bottom: 50px;
    }
    .home-heading > h3 {
        top: -139px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .home-heading > h3 {
        font-size: 286px;
    }
}
